html {
    font-size: 62.5%;
}
* {
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
    color: black;
}
header {
    border-bottom: 0.8px rgba(0,0,0,0.2) solid;
}
.nav {
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 20px 5% 10px 0px;
}
.headlist {
    display: inline-block;
    padding: 5px;
}
h1 {
    font-size: 1.8rem;
}
.img {
    color: white;
    height: 200px;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/220067/pexels-photo-220067.jpeg?cs=srgb&dl=background-blur-bokeh-220067.jpg&fm=jpg");
}
.button {
    height: 30px;
    width: 200px;
}